<!DOCTYPE html>
<html>
<head>
    <title>Divine Decluttering</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/butterflies.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="../js/slideshow.js" type="text/javascript"></script>
    <style>
        body{
            background-image: url("../images/purple wallpaper.jpg");

        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 200px;margin-bottom: 25px">
    <div class="row">
        <div class="col-xs-3">
            <img style="height: 525px;width: 100%;position: absolute;top: -110px;left: 0px" src="../images/Top%20Frame%20Sides%20with%20pic.png" alt="">
        </div>
        <div  style="height:100%;color: #512813" class="col-xs-6">
            <img style="z-index:10;height: 650px;width: 105%;position: absolute;top: -175px;left: 0" src="../images/Top%20Frame%20Middle.png">
            <div style="position: absolute;z-index: 25">
                <div class="row">
                    <div style="height:60px;text-align: center;padding-top: 20px;padding-left: 60px;font-family: 'Rochester', cursive" class="col-xs-12">
                        <h1 style="font-size: 50px; color: #6B006B;">Divine Decluttering</h1>
                    </div>
                </div>
                <div class="row" style="padding-top: 45px;padding-left: 60px">
                    <div style="height:60px;font-size: 35px; color: #6B006B;" class="col-xs-12 col-xs-12" id="quotes">
                        <div>
                            Powerful
                        </div>
                        <div>
                            Sexy
                        </div>
                        <div>
                            Inspiring
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;padding-left: 40px">
                    <div style="height:175px;text-align: center;padding-left: 20px" class="col-xs-12">
                        <p style="font-size: 15px;padding-left: 10px;padding-right: 10px">
                            Aimee helps women make their dreams come true and live extraordinary lives as they learn how to submit
                            to their most beautiful feminine power to be able to gracefully and easily let go of the clutter from
                            their inner and outer spaces and express all of who they are.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:100%;text-align:center;padding-left: 45px" class="col-xs-3">
            <img style="height: 525px;width: 100%;position: absolute;top: -110px;left: 31px" src="../images/Top%20Frame%20Sides.png" alt="">
            <div style="height: inherit;width: 95%;position:absolute ;z-index: 25;padding-top: 60px;right: -25px">
                <span style="font-size: 22px">Sign up for your very own Divine Decluttering Newsletter and Special Offers!</span>
                <br />
                <form method="post" action="../views/newsletter.php">
                    <label for="nmail">E-mail : </label>
                    <br />
                    <input type="text" name="nmail" id="nmail" />
                    <br />
                    <br />
                    <input type="submit" name="submit" value="Sign-up" class="submit-button" />
                </form>
            </div>
        </div>
    </div>
    <div class="row row-centered" style="margin-top: 425px">
            <div class="col-xs-9 col-centered" id="slideshow" style="font-size: 34px; margin-bottom:10px; font-family: 'Rochester', cursive; margin-top:25px; margin-left:30px;">
                <div>
                    &ldquo;<i>You will see your possessions in a whole new way from what you learn.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>The more love you fill yourself up with the more you can give and the more you will receive, so clear out your inner clutter to make room for this.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Put on something that makes you feel  beautiful to prepare for some sexy sorting! </i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Believe in the magic that you can create.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Clear out your clutter to clear the way for your soul mate to come to you.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Create your personal space to be a reflection of your inner beauty.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>As you create space without, so you create space within.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Recreate your home and your life one step at a time.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Surround yourself with all you love.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>As something new moves in, so should something old move out.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Someone is waiting to receive what you no longer need, so let it go to charity.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>What you believe is what you shall receive.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Your best life is waiting for you at the end of your comfort zone.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Dance with your life partner... take one step and the Universe will take the next step in response to yours, then keep dancing.</i>&rdquo;
                </div>
            </div>
    </div>
    <div>
        <ul id="menu_wrap" class="Vista_Black">
            <li class="button"><a href="../">Home</a></li>
            <li class="button"><a href="clutter.html">The Clutter</a></li>
            <li class="button"><a href="discovery.php">Discovery Session</a></li>
            <li class="button"><a href="services.html">Services</a></li>
            <li class="button"><a href="bio.html">Bio</a></li>
            <li class="button"><a href="tribute.html">Tribute</a></li>
            <li class="button"><a href="contact.php">Contact</a></li>
        </ul>
    </div>
    <div style="margin-top: 50px" class="row">
        <div id="content" style="height: 1375px;-webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);">
            <div style="height:auto;text-align: center" class="col-xs-12">
                <h1 style="font-family: 'Rochester', cursive;font-size: 50px">The Different Kinds of Clutter</h1>
                <br />
                <br />
                <br />
                <h2>Physical</h2>
                <h2>Mind</h2>
                <h2>Verbal</h2>
                <h2>Habit</h2>
                <h2>Spiritual</h2>
                <h2>Schedule</h2>
                <br />
                <br />
                <br />
                <p style="font-size: 20px">
                    Clutter can be defined as anything that you do not use, need or want that takes up space in your physical
                    surroundings and inside of you. It drains your energy and affects the serenity you deserve to feel every day.
                    To live your best life, it is important that your living space brings out wonderful feelings inside of you and
                    is nurturing, supporting you in your life's purpose and dreams.  In order  to create a space like this, the clutter
                    must be cleared out.  Physical clutter refers to the objects you have in your physical spaces.  Nonphysical clutter
                    can be found in several places including in your mind, your beliefs, habits, the words you say, schedules and in you electronic devices.
                    Working with me, I will address ALL forms of your clutter as best as I can, so that you can create the most
                    extraordinary life. Below you will find some examples of the different types of clutter that you may be struggling
                    with.
                </p>
                <div class="col-xs-5" id="physical">
                    <img width="175" height="175" src="../images/Butterfly1.png" alt="">
                    <div id="info_physical">
                        <h1 style="font-family: 'Rochester', cursive;font-size: 50px">Physical</h1>
                        <br />
                        <br />
                        <p>
                            (Note: You may be very organized in your home, and not even have a lot of objects in your personal space, however this does not mean you may not have clutter.)
                            <br />
                            <br />
                            Some objects in your personal space don't make you feel good, bring up old bad memories, are broken, don't work, are very old and worn out, just take up space and have to be thrown out.
                            <br /><br />
                            Too much in your home and you feel overwhelmed by it all.
                            <br /><br />
                            The objects in your space are not in harmony with, or a reflection of what you really want for yourself in life.
                            <br /><br />
                            You do not have designated empty spaces in your home (e.g. some shelves, closet space) that represent an open invitation for new and better opportunities, things and people to come to you.
                            <br /><br />
                            Don't know how to keep your belongings organized.
                            <br /><br />
                            Difficult to find things you need.
                            <br /><br />
                            You keep things "just in case" you may need them in the future.
                            <br /><br />
                            You have duplicates, or even more of similar items (e.g. 20 pairs of jeans) that you never use.
                            <br /><br />
                            You keep things because of guilt. (eg. gifts you no longer need or want)
                            <br /><br />
                            You are very attached to some objects due to their emotional value and memories they hold so can't let them go.

                        </p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <img width="175" height="175" src="../images/Brown%20Butterfly%20-%20Alone.png" alt="">
                </div>
                <div class="col-xs-10" id="habit">
                    <img width="175" height="175" src="../images/Butterfly2.png" alt="">
                    <div id="info_habit">
                        <h1 style="font-family: 'Rochester', cursive;font-size: 50px">Habit</h1>
                        <br />
                        <br />
                        <p>
                            You do the same things over and over again expecting to get a better different result the next time.
                            <br /><br />
                            You know that something you are doing is not making you feel happy yet don't know how to stop this habit.
                            <br /><br />
                            Something you do regularly interferes with what you really want for yourself (e.g. repetitive negative self talk, worrying).
                            <br /><br />
                            You do things that are big time wasters such as spending too much time on electronic devices, watching tv, etc.
                            <br /><br />
                            You regularly put everyone else's needs in front of your own needs.
                            <br /><br />
                            You go to bed too late and wake up exhausted, not allowing you to get done what you want to.
                        </p>
                    </div>
                </div>
                <div class="col-xs-2">
                    <img width="175" height="175" src="../images/Butterfly%20light.png" alt="">
                </div>
                <div class="col-xs-4" id="mind">
                    <img width="175" height="175" src="../images/Butterfly3.png" alt="">
                    <div id="info_mind">
                        <h1 style="font-family: 'Rochester', cursive;font-size: 50px">Mind</h1>
                        <br />
                        <br />
                        <p>
                            Repetitive thoughts going through your mind over and over that are not serving you well and make you feel horrible.
                            <br /><br />
                            You are living your life filled with things you chose to say &ldquo;yes&rdquo; to, when truly you really want to say &ldquo;no&rdquo; to them.
                            <br /><br />
                            You are not clear as to what you want for yourself in life.
                            <br /><br />
                            Waking up feeling miserable because of your life circumstances.
                            <br /><br />
                            Trouble sleeping due to worry, sadness, etc.
                            <br /><br />
                            Feeling overwhelmed, drained.
                            <br /><br />
                            Feeling like there is no way out of your situation.
                            <br /><br />
                            Feeling like a victim in your life.
                            <br /><br />
                            You are holding on to anger.
                        </p>
                    </div>
                </div>
                <div class="col-xs-8" id="verbal">
                    <img width="175" height="175" src="../images/Butterfly4.png" alt="">
                    <div id="info_verbal">
                        <h1 style="font-family: 'Rochester', cursive;font-size: 50px">Verbal</h1>
                        <br />
                        <br />
                        <p>
                            (Trained as a Speech-Language Pathlogist, analyzing client's utterances for over 23 years, I am probably the only decluttering expert that covers this area.
                            The words you speak (your &ldquo;utterances&rdquo;) may be filled with clutter, and I created a new word for this kind of utterance: &ldquo;clutterance&rdquo;)
                            <br /><br />
                            You talk about what you DON'T want instead of what you DO want.
                            <br /><br />
                            What you talk about is really not what you feel because you speak in a way to please others.
                            <br /><br />
                            You speak negatively and complain often.
                            <br /><br />
                            You criticize others and are sarcastic.
                            <br /><br />
                            You gossip.
                            <br /><br />
                            You express in ways that are not in harmony with the longing of the woman you really want yourself to blossom into.
                        </p>
                    </div>
                </div>
                <div class="col-xs-8">
                    <img width="175" height="175" src="../images/Butterfly.png" alt="">
                </div>
                <div class="col-xs-4" id="spiritual">
                    <img width="175" height="175" src="../images/Butterfly5.png" alt="">
                    <div id="info_spiritual">
                        <h1 style="font-family: 'Rochester', cursive;font-size: 50px">Spiritual</h1>
                        <br />
                        <br />
                        <p>
                            Some of your beliefs are not supporting what you really want.
                            <br /><br />
                            You are lost in your thoughts and feel disconnected from your true self and what your heart and spirit really want and are trying to communicate to you.
                            <br /><br />
                            You live your life through eyes of fear instead of through love.
                            <br /><br />
                            You feel uncomfortable doing what your spirit is calling out for you to do  because of how others may criticize you, lack of support, or lack of trusting that things can work out for you.
                        </p>
                    </div>
                </div>

                <div style="margin-bottom: 0" class="col-xs-3" id="schedule">
                    <img width="175" height="175" src="../images/Butterfly6.png" alt="">
                    <div id="info_schedule">
                        <h1 style="font-family: 'Rochester', cursive;font-size: 50px">Schedule</h1>
                        <br />
                        <br />
                        <p>
                            Feeling like you have too much to do in each day and not enough time.
                            <br /><br />
                            Can't keep organized to get important things done.
                            <br /><br />
                            Forget or are late to appointments.
                            <br /><br />
                            Don't make important things as your priority to get done.
                            <br /><br />
                            Feel an obligation to do everything on your plate.
                            <br /><br />
                            Feel powerless of your schedule.
                            <br /><br />
                            Feel overwhelmed.
                            <br /><br />
                            Feel obligated to say &ldquo;yes&rdquo; to things you want to say &ldquo;no&rdquo; to doing.
                            <br /><br />
                            You don't know how to say &ldquo;no&rdquo; without feeling guilty.
                        </p>
                    </div>
                </div>
                <div class="col-xs-9">
                    <img width="175" height="175" src="../images/Butterfly%20brown.png" alt="">
                </div>
            </div>
        </div>
    </div>
            <div style="padding-top:50px; height:100px; color:white; text-align:center;">
                <p style:"font-size: 14px;">
                    Copyright &copy 2014 Divine Decluttering
                    <br />
                    All Rights Reserved
                </p>
            </div>
</div>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>