<!DOCTYPE html>
<html>
<head>
    <title>Divine Decluttering</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
    <link href="../css/main.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="../js/slideshow.js" type="text/javascript"></script>
    <style>
        h2{
            display: inline;
            margin-left: 10px;
            margin-right: 10px;
        }
        h3{
            float: right;
        }
        a{
            color: #000000;
        }
        p{
            font-size: 20px;
        }
        body{
            background-image: url("../images/purple wallpaper.jpg");

        }
    </style>
</head>
<body>
<div class="container" style="margin-top: 200px;margin-bottom: 25px">
   <div class="row">
        <div class="col-xs-3">
            <img style="height: 525px;width: 100%;position: absolute;top: -110px;left: 0px" src="../images/Top%20Frame%20Sides%20with%20pic.png" alt="">
        </div>
        <div  style="height:100%;color: #512813" class="col-xs-6">
            <img style="z-index:10;height: 650px;width: 105%;position: absolute;top: -175px;left: 0" src="../images/Top%20Frame%20Middle.png">
            <div style="position: absolute;z-index: 25">
                <div class="row">
                    <div style="height:60px;text-align: center;padding-top: 20px;padding-left: 60px;font-family: 'Rochester', cursive" class="col-xs-12">
                        <h1 style="font-size: 50px; color:#6B006B">Divine Decluttering</h1>
                    </div>
                </div>
                <div class="row" style="padding-top: 45px;padding-left: 60px">
                    <div style="height:60px;font-size: 35px; color: #6B006B;" class="col-xs-12 col-xs-12" id="quotes">
                        <div>
                            Powerful
                        </div>
                        <div>
                            Sexy
                        </div>
                        <div>
                            Inspiring
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;padding-left: 40px">
                    <div style="height:175px;text-align: center;padding-left: 20px" class="col-xs-12">
                        <p style="font-size: 15px;padding-left: 10px;padding-right: 10px">
                            Aimee helps women make their dreams come true and live extraordinary lives as they learn how to submit
                            to their most beautiful feminine power to be able to gracefully and easily let go of the clutter from
                            their inner and outer spaces and express all of who they are.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:100%;text-align:center;padding-left: 45px" class="col-xs-3">
            <img style="height: 525px;width: 100%;position: absolute;top: -110px;left: 31px" src="../images/Top%20Frame%20Sides.png" alt="">
            <div style="height: inherit;width: 95%;position:absolute ;z-index: 25;padding-top: 60px;right: -25px">
                <span style="font-size: 22px">Sign up for your very own Divine Decluttering Newsletter and Special Offers!</span>
                <br />
                <form method="post" action="../views/newsletter.php">
                    <label for="nmail">E-mail : </label>
                    <br />
                    <input type="text" name="nmail" id="nmail" />
                    <br />
                    <br />
                    <input type="submit" name="submit" value="Sign-up" class="submit-button" />
                </form>
            </div>
        </div>
    </div>
    <div class="row row-centered" style="margin-top: 425px">
            <div class="col-xs-9 col-centered" id="slideshow" style="font-size: 34px; margin-bottom:10px; font-family: 'Rochester', cursive; margin-top:25px; margin-left:30px;">
                <div>
                    &ldquo;<i>You will see your possessions in a whole new way from what you learn.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>The more love you fill yourself up with the more you can give and the more you will receive, so clear out your inner clutter to make room for this.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Put on something that makes you feel  beautiful to prepare for some sexy sorting! </i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Believe in the magic that you can create.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Clear out your clutter to clear the way for your soul mate to come to you.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Create your personal space to be a reflection of your inner beauty.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>As you create space without, so you create space within.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Recreate your home and your life one step at a time.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Surround yourself with all you love.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>As something new moves in, so should something old move out.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Someone is waiting to receive what you no longer need, so let it go to charity.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>What you believe is what you shall receive.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Your best life is waiting for you at the end of your comfort zone.</i>&rdquo;
                </div>
                <div>
                    &ldquo;<i>Dance with your life partner... take one step and the Universe will take the next step in response to yours, then keep dancing.</i>&rdquo;
                </div>
            </div>
    </div>
    <div>
        <ul id="menu_wrap" class="Vista_Black">
            <li class="button"><a href="../">Home</a></li>
            <li class="button"><a href="clutter.html">The Clutter</a></li>
            <li class="button"><a href="discovery.php">Discovery Session</a></li>
            <li class="button"><a href="services.html">Services</a></li>
            <li class="button"><a href="bio.html">Bio</a></li>
            <li class="button"><a href="tribute.html">Tribute</a></li>
            <li class="button"><a href="contact.php">Contact</a></li>
        </ul>
    </div>
    <div style="margin-top: 50px" class="row">
        <div style="height: 10150px;padding: 30px;text-align: center;-webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
                        box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);" id="content">
            <div style="height:350px;text-align: center;padding: 10px" class="col-xs-12">
                <span id="top"></span>
                <h1 style="font-family: 'Rochester', cursive;font-size: 50px; color: #6B006B;">Services</h1>
                <br />
                <h2><a href="#service1"><img src="../images/Divine.png" width="175" height="175"></a></h2>
                <h2><a href="#service2"><img src="../images/Royal.png" width="175" height="175"></a></h2>
                <h2><a href="#service3"><img src="../images/Classic.png" width="175" height="175"></a></h2>
                <h2><a href="#service4"><img src="../images/Destination.png" width="175" height="175"></a></h2>
                <h2><a href="#service5"><img src="../images/Luxuious.png" width="175" height="175"></a></h2>
            </div>
            <div id="service1" style="height:1 800px;padding-left:0;padding-right: 0;" class="col-xs-12">
                <hr class="style-eight" />
                <h1 style="align: left;padding: 5px;font-family: 'Rochester', cursive;font-size: 40px; color:#6B006B">Divine Package</h1>
                <hr class="style-eight" />
                <p style="font-family: 'Rochester', cursive;font-size: 25px">
                    This is the perfect package to treat yourself with, where you will learn about your clutter and how to start to let it go, secrets about how we create and initial steps to take in order to begin to surrender to your inner feminine Queen and desires in order to create magic in your life! There is always SO much I want to pack into these enlightening consultations and what there is not time to<br /> cover in the two hours I address as much as possible in the follow-up phone calls.
                </p>
                <br />
                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">During a two hour Skype consultation: </h2>
                <br />
                <br />
                <p>
                    You will learn what you biggest form of clutter is and why it is there.
                    <br />
                    <br />
                    You will start to understand that you must learn how to manage the fear-based voices inside of you in order to respect the voice coming from your heart and spirit that wants you to let your clutter go.
                    <br />
                    <br />
                    You will get clear on your desires and longings and go through a fun, effective and exciting exercise to help you determine what you have in your space that is not in harmony with all you want, in order to easily let go of your clutter.
                    <br />
                    <br />
                    You will start to learn why unconditional love and acceptance of all the parts of you is so important.
                    <br />
                    <br />
                    You will understand why connecting to your most beautiful feminine Queen energy will powerfully help you create your dream life as you feel the awakening of your authentic self.
                    <br />
                    <br />
                    You will learn what you can do immediately in your personal space in order to start to make great shifts happen.
                    <br />
                    <br />
                    You will learn the 3 secrets to instantly connect you to your most radiant inner Queen energy that will help kick-start the decluttering process.
                    <br />
                    <br />
                    You will learn 3 important decluttering tasks to start with that will shift the energy in your personal space in positive ways.
                    <br />
                    <br />
                    You will start to recognize what non-physical clutter you are struggling with and why it is so important to let all of it go one step at a time because some of it is also the reason for your physical clutter.
                    <br />
                    <br />
                    You will have the opportunity to show some of your clutter over Skype if you choose to, or to discuss photos you may send to me before your consultation.
                    <br />
                    <br />
                    You will learn why it is important to create sacred spaces.
                    <br />
                    <br />
                    You will start to create your action plan in order to begin decluttering and set up your spaces in ways that align with your desires.
                </p>
                <br />

                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">Following your consultation: </h2>
                <br />
                <br />
                <p>
                    You will receive 5 days of email support starting the day after your consultation (excluding weekends) where you can send me any questions related to your session, for daily check-in or to receive a little inspiration.
                    <br />
                    <br />
                    You will then receive one 30 minute phone session. What is covered during these meetings varies as it depends on your needs at that time.
                    <br />
                    <br />
                    You will receive 5 more days of email support (excluding weekends) following your phone session.
                    <br />
                    <br />
                    You will receive one more 30 minute phone session to complete this package and celebrate the start of your journey into becoming all you are meant to be and living in a home you love coming home to.
                </p>
                <span style="font-size: 15px">Final phone session must be completed within 6 weeks from your initial Skype consultation.</span>
                <h3 style="margin-right: 10px;font-family: 'Rochester', cursive"><a href="#top">Top</a></h3>
                <br />
                <br />
                <hr class="style-eight" />
            </div>

            <div id="service2" style="height:2475px;padding-left:0;padding-right: 0" class="col-xs-12">
                <h1 style="align: left;margin-top: 50;margin-right: 20px;font-family: 'Rochester', cursive;font-size: 40px; color:#6B006B">Royal Package</h1>
                <hr class="style-eight" />
                <br />
                <p style="font-family: 'Rochester', cursive;font-size: 25px">
                    This package is fit for a Queen...one who is ready to dig even deeper into their physical and non-physical clutter, and wants even more sexy and very powerful suggestions on how to connect with their most feminine essence.
                </p>
                <br />
                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">During a two hour Skype consultation (which will be the first of three Skype consultations):</h2>
                <br />
                <br />
		<p>
                    You will learn what you biggest form of clutter is and why it is there.
                    <br />
                    <br />
                    You will start to understand that you must learn how to manage the fear-based voices inside of you in order to respect the voice coming from your heart and sprit that wants you to let your clutter go.
                    <br />
                    <br />
                    You will get clear on your desires and longings and go through a fun, effective and exciting exercise to help you determine what you have in your space that is not in harmony with all you want, in order to easily let go of your clutter.
                    <br />
                    <br />
                    You will start to learn why unconditional love and acceptance of all the parts of you is so important.
                    <br />
                    <br />
                    You will understand why connecting to your most beautiful feminine Queen energy will powerfully help you create your dream life as you feel the awakening of your authentic self.
                    <br />
                    <br />
                    You will learn what you can do immediately in your personal space in order to start to make great shifts happen.
                    <br />
                    <br />
                    You will learn the 3 secrets to instantly connect you to your most radiant inner Queen energy that will help kick-start the decluttering process.
                    <br />
                    <br />
                    You will learn 3 important decluttering tasks to start with that will shift the energy in your personal space in positive ways.
                    <br />
                    <br />
                    You will start to recognize what non-physical clutter you are struggling with and why it is so important to let all of it go one step at a time because some of it is also the reason for your physical clutter.
                    <br />
                    <br />
                    You will have the opportunity to show some of your clutter over Skype if you choose to, or to discuss photos you may send to me before your consultation.
                    <br />
                    <br />
                    You will learn why it is important to create sacred spaces.
                    <br />
                    <br />
                    You will start to create your action plan in order to begin decluttering and set up your spaces in ways that align with your desires.
                    <br />
                    <br />
                </p>
                <hr class="style-seven" />
                <p style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">
                    During two more Skype consultations (seventy-five minutes each) you will address anything you want to related to your clutter, which makes each session highly customized.  Below are just a few examples of things you may want to do and learn during your consultations:
                </p>
                <p>
                    <br />
                    <br />
                    You will start to address your non-physical clutter and take steps to clear it.
                    <br />
                    <br />
                    You will do some physical decluttering in your space while on Skype and learn how to create sacred spaces so that they remain clutter free.
                    <br />
                    <br />
                    You will create a plan for healthy daily morning and night routines.
                    <br />
                    <br />
                    You will learn new ways to label your files so that you feel your best when looking at them.
                    <br />
                    <br />
                    You will start to go through your papers and create systems to keep them organized.
                    <br />
                    <br />
                    You will learn how to arrange your personal possessions in a powerful way in order to help bring into your life all you want.
                    <br />
                    <br />
                    You will learn how to turn the simplest daily routines (e.g. like taking a shower or washing dishes) into magical opportunities to raise your vibration and also connect with your most feminine spirit.
                    <br />
                    <br />
                    You will learn my creative secrets in how you can make the simplest objects in your space become the most supportive tools to keep you feeling really good throughout your days.
                    <br />
                    <br />
                </p>
                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">Following each of your consultations: </h2>
                <p>
                    <br />
                    <br />
                    You will receive 5 days of email support starting the day after each consultation (excluding weekends) where you can send me any questions related to your session, for daily check-in or to receive a little inspiration.
                    <br />
                    <br />
                    You will then receive one 30 minute phone session after your third Skype session to complete this package and celebrate the start of your journey into becoming all you are meant to be and living in a home you love coming home to.
                    <br />
                    <span style="font-size: 15px">Final phone session must be completed within 9 weeks from your initial Skype consultation.</span>
                </p>
                <h3 style="margin-right: 10px;font-family: 'Rochester', cursive"><a href="#top">Top</a></h3>
                <br />
                <br />
                <hr class="style-eight" />
            </div>
            <div id="service3" style="height:825px;padding-left:0;padding-right: 0;" class="col-xs-12">
                <h1 style="align: left;margin: 0;margin-right: 20px;font-family: 'Rochester', cursive;font-size: 40px; color:#6B006B">Classic Session</h1>
                <hr class="style-eight" />
                <br />
                <p style="font-family: 'Rochester', cursive;font-size: 25px">
                    These sessions are perfect for ongoing follow-up if you've already experienced one of my other packages, in order to keep you in a high vibration place to continue to move forward with your decluttering in your home and inside of you.
                    <br />
                    <br />
                    These consultations are also designed for those of you who have not experienced another one of my packages and are ready to start the decluttering process, wanting to just get rid of your "stuff", one step at a time.
                    <br />
                    <br />
                </p>
                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">During a 75 minute Skype consultation:</h2>
                <p>
                    <br />
                    <br />
                    You will receive very customized support as we are each unique and because everyone has different kinds of clutter they want to address and some of you may want to do conscious creating in your space once the clutter is removed in order to have your environment feel aligned with the energy of everything you want in life.
                    <br />
                    <br />
                    To get an idea of some things you can learn and accomplish in these sessions please look at the content included in my Divine and Luxury Packages.
                    <br />
                    <br />
                    To make a firm commitment to declutter your life, you can purchase 3 or more sessions at a time and receive generous discounts.
                </p>
                <h3 style="margin-right: 10px;font-family: 'Rochester', cursive"><a href="#top">Top</a></h3>
                <br />
                <br />
                <hr class="style-eight" />
            </div>
            <div id="service4" style="height:3025px;padding-left:0;padding-right: 0;" class="col-xs-12">
                <h1 style="align: left;margin: 0;margin-right: 20px;padding: 5px;font-family: 'Rochester', cursive;font-size: 40px; color:#6B006B">"Breakfast at Tiffany's"</h1>
                <br />
                <br />
                <h2 style="align: left;margin: 0;margin-right: 20px;padding: 5px;font-family: 'Rochester', cursive;font-size: 40px; color:#6B006B">Divine Destination</h2>
                <hr class="style-eight" />
                <div class="row" style="padding-top:20px;">
                            <div class="col-xs-12 col-centered" id="breakfast" style="text-align: center">
                                <div style="padding: 20px">

                                    <img src="../images/beloved.jpg" alt="" width="200" height="200">

                                </div>
                                <div>
                                    <i>"Being who you are meant to be makes you beautiful.
                                    <br />
                                    <br />
                                    Creating your living space in a way that reflects who you are meant to be makes your home beautiful.
                                    <br />
                                    <br />
                                    Dreams come true when you are true to your beautiful authentic self first."
                                    <br />
                                    <br />
                                    <b>-Aimee</b></i>
                                </div>
                                <div style="padding-top: 75px">
                                    <i>"Nothing in life is impossible. The word itself says "I'm Possible"!"
                                    <br />
                                    <br />
                                    <b>-Audrey Hepburn</b></i>

                                </div>
                            </div>
                        </div>
                <br />
                <br />
                <p style="font-family: 'Rochester', cursive;font-size: 25px">
                    The inspiration to create this experience for you came from one of my favorite movies, the stylish classic, "Breakfast At Tiffany's" with Audrey Hepburn.  Audrey (one of my favorite women) was an actress, fashion icon and philanthropist known for her beauty, elegance and grace.
                    <br />
                    <br />
                    In the movie, the Tiffany's jewelry store was Holly's escape; the place she went to feel entirely safe from the "mean reds" (a state of mind in which she felt that something bad may happen to her) that plagued her from time to time. Tiffany's was a place of refuge for Holly representing order, peace, security and stability.  It gave her the feelings she would want to have in a home if she could ever find somewhere she belonged.
                    <br />
                    <br />
                    During your Divine Destination experience, where we will start the day together in front of Tiffany's, I want you to be able to connect to the elegance from Audrey's role as Holly and also her vulnerability, fears and dreams.  I want you to start to feel your feminine classy inner beauty and become inspired to make your home to feel like your refuge...  your safe, peaceful, organized and serene place like a Tiffany's store, so that you feel you always want to be there.
                </p>
                <hr class="style-seven" />
                <p>
                    This very unique one day experience, meeting with me in elegant locations will make your spirit  and the most feminine part of you feel like it has come alive.  Oftentimes it takes getting out of your everyday environment and stepping into something that feels different and more glamorous, to get in touch with the most treasured part of you that may have been unacknowledged or to awaken a part of you that you didn't even know existed...
                    <br />
                    <br />
                    ...the part of you that deserves and has been ACHING for a less cluttered life, feeling completely in your elegant feminine power, expressing all of who you are and comfortable doing so, no matter what others in your life say about it.
                    <br />
                    <br />
                    Once you experience this feeling inside of yourself after our day together and you return to your home, you may have a completely different perspective from which you will now much more easily be able to clear your clutter and create beautiful, organized sacred spaces, and with less fear, because you will now want your outside to align with your new feeling inside. You will now know what you truly want for you in your life, and you will want to do everything in your power to make it so, one step at a time.
                    <br />
                    <br />
                </p>
                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">This is what you will receive in this package:</h2>
                <p>
                    <br />
                    <br />
                    We will meet in Divine Decluttering Style for an entire day in the heart of the most elegant shopping/dining/tourist area in Toronto, Ontario, Canada.
                    <br />
                    <br />
                    This full day will be custom designed especially for you and will include non-physical decluttering, planning for your physical decluttering for when you get back home and conscious creating, all while in a beautiful private setting.
                    <br />
                    <br />
                    You will be treated to fine dining and lots of feminine fun.
                    <br />
                    <br />
                    You will receive some very special gifts from me that you will put to good use when you get back home.
                    <br />
                    <br />
                    You will receive a 90 day decluttering plan that I will completely customize to meet your needs.  This includes follow-up consultations over Skype and on the phone.  Receiving support over a period of 90 days will help move you from one season into the next and make you feel comfortable knowing you have the support while you get used to the feelings of living with less clutter.
                </p>

                    <br />
                    <br />
                <hr class="style-seven" />
                <h2 style="font-family: 'Rochester', cursive;font-size: 30px; color:#6B006B">This Divine Decluttering Experience Package Is Perfect For You If...</h2>
                <br />
                <br />
                <ul style="text-align: left; font-size:20px;">
                    <li>You are aching to get away and want to treat yourself to a full day with Aimee in first class style, experiencing lots of luxury, powerful divine decluttering and creating in the most feminine high vibration energy. </li>
                    <li>You are ready to take control of your life instead of having your clutter take control of you.</li>
                    <li>You are ready to say YES to getting yourself out of your rut and moving yourself up to the next level in your life.</li>
                    <li>You are ready to fully say YES to your inner voice because you are ready to respect who you are.</li>
                    <li>You are serious about removing the physical clutter from your personal spaces, meaning objects that do not align with who you truly feel you are and your desires, and things that no longer serve you.</li>
                    <li>You are ready to start clearing the non-physical clutter that is taking up valuable space inside of you and draining you.</li>
                    <li>You feel you need to do something to cause a positive shift in your life and decluttering seems to be a simple, useful and practical place to start.</li>
                    <li>You desire to focus more on you at this time because you give so much of yourself to others that you feel like you're not sure who you are anymore or feel like the authentic you is buried in your clutter desperate to be set free.</li>
                    <li>You have a busy life style in business and/or as a single mom or married and need the program to fit around your hectic schedule.</li>
                    <li>You are more comfortable receiving help from a distance via Skype and phone contact from your home (and you will become so empowered as you declutter this way, knowing you don't physically need someone right next to you in order to sort through your "stuff") instead of having someone come into your home going through all of your possessions.</li>
                    <li>You want to connect more to your feminine power to help clear your clutter and balance out your life, because you feel you are in masculine energy much of the time in your work and/or as a mom that is affecting how you feel and your relationships in a negative way.</li>
                    <li>You understand that everything is energy and by making positive shifts in your inner and out spaces, you will see positive shifts in your life start to happen.</li>
                    <li>You are ready to make your dreams come true and live a divine clutter-free life, filled with love in your most feminine authentic power.</li>
                </ul>
                <br />
                <h3 style="margin-right: 10px;font-family: 'Rochester', cursive"><a href="#top">Top</a></h3>
                <br />
                <br />
                <hr class="style-eight" style="padding-bottom:100px;"/>
                <br />
            </div>
            <div id="service5" style="height:235px;padding-top:0px;padding-right: 0;" class="col-xs-12">
                <h2 style="align: left;margin: 0;margin-right: 20px;padding-left:20px;font-family: 'Rochester', cursive;font-size: 40px; color:#6B006B">Luxurious Treats</h2>
                <hr class="style-eight" />
                <br />
                <p style="font-family: 'Rochester', cursive;font-size: 25px">
                    Treating yourself with a little something luxurious on a regular basis is healthy and part of self care to stay connected with your most feminine nature and to feel your very best. Below are some of my creative and customized special treats that make working with me a very unique experience.
                    <br />
                    <br />
                    You are able to purchase these sessions if you have already experienced working with me through one of my other packages.
                    <br />
                    <br />
                </p>
                    <br />
                    <br />
                <h2 style="font-family: 'Rochester', cursive;font-size: 35px; color: #6B006B;"><u>Preparation For Your "Man"ifestation</u> </h2>
                <p>
                    <br />
                    <br />
                    During a one hour Skype session you will learn what you can do in your home with your personal possessions, because everything is energy, to either help improve the relationship you are currently in or to help prepare for your dream man's arrival for those of your not yet in a committed relationship.  You will also learn my X-clusive secrets to connect you to your most feminine radiant self and how to transmute this energy into decluttering power.  In addition, you will learn very powerful visualizing exercises to make you love every moment of decluttering in your home.
                    <br />
                    <br />
                </p>
                <h2 style="font-family: 'Rochester', cursive;font-size: 35px; color: #6B006B;"><u>Magnificent Mantras</u></h2>
                <p>
                    <br />
                    <br />
                    During a one hour Skype session you will be supported in creating mantras customized for each of the rooms in your home that you can refer to so that you will be inspired to keep all of your spaces clutter-free and beautiful. You will also develop mantras for yourself that you can say throughout each day to help you feel your best.  These soothing, positive and inspirational mantras will replace your old fear-based "broken record" sayings that used to fill up your mind.
                    <br />
                    <br />
                </p>
                <h2 style="font-family: 'Rochester', cursive;font-size: 35px; color: #6B006B;"><u>Private Sacred Space Design</u></h2>
                <p>
                    <br />
                    <br />
                    During a one hour Skype session you will create a special space in your home that will be for you to retreat to in order to help reconnect to your authentic self, your dreams and your desires. It is often easy to lose sight of all the parts of you and what you want as you go about your day, especially when in more of a "masculine" energy role taking charge at work or when with your children. You will collect things for this space that make you feel vibrant and feed your soul.  You will also have the opportunity to start to design a dream board or book.
                    <br />
                    <br />
                </p>
                <h2 style="font-family: 'Rochester', cursive;font-size: 35px; color: #6B006B;"><u>Bead Your Way To Your Heart's Desire</u></h2>
                <p>
                    <br />
                    <br />
                    During a one hour Skype session I will design a beautiful one-of-a-kind sterling silver and gemstone beaded bracelet for you to suit your personal style. You will infuse each bead with the energy of your heart's desires as each one is placed on the wire.  I will then send you your unique bracelet beautifully wrapped and packaged safely as your gift. When wearing your jewellery you will have very powerful reminders of your session and it can also be used as a tool to help bring you to a better feeling place when in a state of fear or sadness.  You can touch each bead reciting something more positive each time until you feel better. To get some ideas of the types of stones you like you can go to my new on-line jewellery shop at <a href="http://www.etsy.com/shop/BelovedsBeads" target="_blank" style="color:blue">Beloved's Beads.</a>
                    <br />
                    <br />
                </p>
                <h3 style="margin-right: 10px;font-family: 'Rochester', cursive"><a href="#top">Top</a></h3>
                <br />
                <br />
                <hr class="style-eight" />
            </div>
        </div>
    </div>
            <div style="padding-top:50px; height:100px; color:white; text-align:center;">
                <p style:"font-size: 14px;">
                    Copyright &copy 2014 Divine Decluttering
                    <br />
                    All Rights Reserved
                </p>
            </div>
</div>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>